# Node.js and npm
node_modules/
package-lock.json
package.json

# Next.js
.next/

# Compiled files
build/

# Debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.DS_Store

# Backend specific
backend/**/node_modules/  # or specific directory within backend

# Frontend specific
components/
pages/

# Configuration files
next.config.js
config.js